*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=IBM+Plex+Mono:wght@100&family=Pangolin&family=Shadows+Into+Light&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
  html{
    font-family: 'Fjalla One', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Pangolin', cursive;
    font-family: 'Press Start 2P', cursive;
  }
  
  #copywriting{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  body{
    background-image:linear-gradient(#341931,#571B3C,#341931  ) ;
    background-size: 100vw 100vh;
  }
  
  header .top{
    width: 100%;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .user{
    text-align:  center;
  }
  
  #icon-car-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  header #icon-car-text #car{
    font-size: 20px;
    border: 2px solid ;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none; 
  }
  
  header #carrinho p{
    font-size: 12px;
    font-family: 'Pangolin', cursive;
    text-decoration: none;
  }
  
  .user #userIcon{
    font-size: 30px;
    color: white;
  }

  .user #userText{
    color: white;
  }

  
  .middle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    width: 300px;
    height: 300px;
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
    margin-top: 150px;
    background-color:rgba(0, 0, 139, 0) ;
    border: 2px solid white;
    
  }
  
  .box h2 {
    color: white;
    margin-bottom: 50px;
  }
  
  .box p {
    color: white;
    margin-bottom: 50px;
  }
  
  .box button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
  
  }

  .box button:hover {
    background-color: #45a049;
  }
  
  @media (min-width: 756px) {
    header .top {
      padding: 20px 50px;
    }
  
    header #icon-car-text #car {
      padding: 15px;
    }
  
    header #carrinho p {
      font-size: 16px;
      margin-left: 10px;
    }
  
    .box {
      width: 500px;
      height: 400px;
      margin-top: 70px;
      margin-bottom: 50px;
    }
  
    .box h2 {
      font-size: 30px;
      margin-bottom: 100px;
    }
  
    .box p {
      font-size: 25px;
      margin-bottom: 100px;
    }
  
    .box button {
      padding: 17px 27px;
    }


    header #carrinho p{
      font-size:70px;
      font-family: 'Pangolin', cursive;
    }
    
    .user #userIcon{
      font-size: 50px;
      color: white;
    }
    header #icon-car-text #car {
      padding: 15px;
      font-size: 25px;
    }

  }
  
  @media (min-width: 1200px) {
    header .top {
      padding: 30px 100px;
    }
  
    header #icon-car-text #car {
      padding: 20px;
    }
  
    header #carrinho p {
      font-size: 20px;
      margin-left: 20px;
    }
    #copywriting{
      font-size: 35px;
    }
  
    .box {
      width: 600px;
      height: 500px;
      margin-top: 30px;
      margin-bottom: 100px;
    }
  
    .box h2 {
      font-size: 35px;
      margin-bottom: 130px;
    }
  
    .box p {
      font-size: 22px;
      margin-bottom: 100px;
    }
  
    .box button {
      padding: 17px 30px;
      margin-top: 65px;
      font-size: 20px;
    }
    header #carrinho p{
      font-size:90px;
      font-family: 'Pangolin', cursive;
    }
    
    .user #userIcon{
      font-size: 60px;
      color: white;
    }
    header #icon-car-text #car {
      padding: 15px;
      font-size: 35px;
    }

  }
  