*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=IBM+Plex+Mono:wght@100&family=Pangolin&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html{
  font-family: 'Fjalla One', sans-serif;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Pangolin', cursive;
  font-family: 'Press Start 2P', cursive;
}

#copywriting{
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
}
body{
  background-image:linear-gradient(#341931,#571B3C,#341931  ) ;
  background-size: 100vw 100vh;
}

header .top{
  width: 100%;
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .user{
  text-align:  center;
}

#icon-car-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.user #userIcon{
  font-size: 30px;
  color: white;
}

.user #userText{
  font-size: 18px;
  color: white;
}

header #icon-car-text #car{
  font-size: 20px;
  border: 2px solid ;
  border-radius: 5px;
  padding: 5px;
}

header #carrinho a{
  font-size: 12px;
  font-family: 'Pangolin', cursive;
}

.images {
  width: 100%;
  height: auto;
  display: block;
  justify-content: center;
}

.images ul {
  list-style: none;
}

.images li {
  margin-bottom: 10px;
}

.individual-image {
  position: relative;
  width: 70px;
  height: 70px; 
  border-radius: 50%; 
  overflow: hidden; 
}

.individual-image img {
  width: 100%;
  height: auto;
  object-fit: cover; 
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

}

footer button {
  padding: 10px 20px;
  font-size: 16px;
}








