  *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=IBM+Plex+Mono:wght@100&family=Pangolin&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html{
  font-family: 'Fjalla One', sans-serif;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Pangolin', cursive;
  font-family: 'Press Start 2P', cursive;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  
}

button{
  cursor: pointer;
}

a:focus,
a:hover {
  outline: none;
  color: inherit;
}

#copywriting{
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
}
  body{
    background-image:linear-gradient(#341931,#571B3C,#341931  ) ;
    background-size: 100vw 100vh;
  }

header .top{
  width: 100%;
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#icon-car-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

header #icon-car-text #car{
  font-size: 20px;
  border: 2px solid ;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

header #carrinho p{
  font-size: 12px;
  font-family: 'Pangolin', cursive;
  color: white;
}
header .login-button {
  margin-bottom: 25px;
  background-color: #e6e6e6;
  border: none;
  border-radius: 25px;
  font-family: 'Fjalla One', sans-serif;
  width: 100px;
  height: 40px;
  font-weight: bold;
  color: #333;
}

header .login-button:hover {
  background-color: #ccc;
}

header .pesq{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
header .pesq .search-bar {
  border: 2px solid white;
  border-radius: 7px 5px 5px 2px;
  background-color: transparent;
  text-align: center;
  width: 400px;
}

.center .row{
  margin-top: 30px;
  display: grid;
  margin-left: 30px;
  grid-template-columns:1fr 1fr;
  column-gap: 70px;
  justify-content: space-between;
  
}

.center .row .bar-text{
  display: flex;
}
.center .row #bars{
  font-size: 30px;
  color: white;
}
.center .row .bar-text #icon-bars-text{
  margin-top: 5px;
  margin-left: 20px;
  font-size: 15px;
  color: white;
  font-weight: bold
  
}

.center .row #ver-mais{
  display: grid;
  font-weight: inherit;
  font-size: 13px;
  color: white;
  text-decoration: none;
  justify-content: end;
  margin-right: 25px;

}

.center .row #ver-mais:hover {
  background-color: #0C3866;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}


#carrosel{
  display: none;
}



  .images ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
    }

    .images .individual-image span{
      color: white;
    }
    .images li {
      width:33%;
      box-sizing: border-box;
    }

    .images img {
      width: 100%;
      height: auto;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: 2px solid #3D2B52;
      
    }
    .images figure {
      position: relative;
      margin-left: 25px;
      margin-right: 20px;
      margin-bottom: 50px;
      margin-top: 20px;

    }


    footer a{
      float: right; 
      margin-right: 10px;
      position: relative; 
      top: -5px;
      text-decoration: none;
      color: white;
    }

    @media (min-width: 768px) {
      header .pesq .search-bar {
        width: 700px;
      }
      #carrosel{
        display: block;
      }
      .carousel-item img {
        max-width: 100%;
        max-height: 500px; /* Defina a altura desejada para as imagens */
      }
      #imgs{
        display: none;
      }
    }

  
    @media (min-width: 1200px){
      #carrosel{
        display: block;
      }
      header .pesq .search-bar {
        width: 1200px;
      }

      .carousel-item img {
        max-width: 100%;
        max-height: 600px; /* Defina a altura desejada para as imagens */
      }
      .carousel-caption {
        background-color: rgba(0, 0, 0, 0.7); 
        color: #fff; 
        padding: 10px; 
      }
      .carousel-caption h5 {
        font-size: 18px; /* Tamanho da fonte do título da legenda */
      }
      
      .carousel-caption p {
        font-size: 14px; /* Tamanho da fonte do conteúdo da legenda */
      }

      #imgs{
        display: none;
      }
    }




